<html>
<head>
	<title>Iceberg Threat Detection</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
</head>
<body ng-app="app" ng-controller="ctrl">
	<div class="row">
		<h2>Iceberg Volume Calculation</h2>
	</div>
	<div class="row">
		<div class="col-xs-2">
			Iceberg Diameter (cm):
		</div>
		<div class="col-xs-2">
			<input type="text" class="form-control input-sm" ng-model="dia">
		</div>
		<div class="col-xs-2">
			Iceberg Keel Depth (cm):
		</div>
		<div class="col-xs-2">
			<input type="text" class="form-control input-sm" ng-model="dep">
		</div>
		<div class="col-xs-4">
			Iceberg Volume: {{vol()}} cm^3
		</div>
	</div>
	<p></p>
	<div class="row">
		<h2>Iceberg Threat Identification</h2>
	</div>
	<div class="row">
		<canvas id="image" width="194px" height="259px"></canvas>
		<img id="map" src="Images/Map.png" hidden>
	</div>
	<p></p>
	<div class="row">
		<div class="col-xs-1"></div>
		<div class="col-xs-1">
			Keel Depth:
		</div>
		<div class="col-xs-1">
			<input type="text" class="form-control input-sm" ng-model="keel">
		</div>
		<div class="col-xs-1">
			cm
		</div>
		<div class="col-xs-1">
			Coordinates:
		</div>
		<div class="col-xs-1">
			<input type="text" class="form-control input-sm" ng-model="lat">
		</div>
		<div class="col-xs-1">
			deg N,
		</div>
		<div class="col-xs-1">
			<input type="text" class="form-control input-sm" ng-model="lon">
		</div>
		<div class="col-xs-1">
			deg W
		</div>
		<div class="col-xs-1">
			Heading:
		</div>
		<div class="col-xs-1">
			<input type="text" class="form-control input-sm" ng-model="head">
		</div>
		<div class="col-xs-1">
			deg
		</div>
	</div>
	<div class="row">
		<h4>Threat Levels:</h4>
	</div>
	<script src="app.js"></script>
</body>
</html>
